.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-container {
  position: relative; /* Cambiado de 'fixed' a 'relative' para fluir con el contenido */
  margin-top: 50px; /* Ajustado el margen superior del logo */
  text-align: center; /* Centrado del texto para alinear con el logo */
}

.logo-img {
  width: 250px; /* Ajuste el tamaño del logo según sea necesario */
  height: auto;
}

.form-container {
  width: 100%;
  max-width: 400px; /* Ajustado el ancho máximo del contenedor del formulario */
  padding: 0 16px; /* Ajuste de padding para mantener el formulario contenido */
  margin-top: 50px; /* Espacio entre el logo y el formulario */

  ion-item {
    width: 100%;
    margin-bottom: 10px;
  }
}

.landing-buttons {
  width: 100%;
  max-width: 400px; /* Ajuste el ancho máximo de los botones */
  padding: 0 16px; /* Ajuste de padding para mantener los botones contenido */
  margin-top: 20px;

  ion-button {
    margin-bottom: 10px;
  }
}
