.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .logo-container {
    margin-bottom: 20px; /* Adjust vertical space between logo and buttons */
  }
  
  .logo-img {
    width: 250px; /* Adjust the width of the logo */
    height: auto;
  }
