<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="close-button" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Memorias</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="share()">
        <ion-icon name="share"></ion-icon>
      </ion-button>
      <ion-button (click)="delete()">
        <ion-icon name="trash" id="trash-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-container">
    <img [src]="imageUrl" />
  </div>
  <ion-buttons slot="start">
    <ion-button (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-content>
