<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-label class="title-text">
        Memorias
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="archive-content">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let memory of memories">
        <ion-card class="thumbnail-container">
          <img [src]="memory.thumbnailUrl" class="thumbnail-image" (click)="viewImage(memory)" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
