<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu-button"></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-label class="title-text" id="archive-label">
        Archivo
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="archive-content">
  <ion-card *ngFor="let item of taskList; let i = index" class="ion-margin" id="task-card-{{i}}">
    <ion-card-header>
      <ion-card-subtitle>
        <ion-label [style.color]="item.itemPriority === 'importante' ? 'red' : (item.itemPriority === 'baja' ? 'green' : 'orange')" id="category-label-{{i}}">
          {{ item.itemCategory }}
        </ion-label>
        <ion-item>
          <ion-icon *ngIf="item.itemPriority === 'importante'" color="danger" size="small" name="ellipse" slot="start" id="priority-icon-{{i}}"></ion-icon>
          <ion-icon *ngIf="item.itemPriority === 'normal'" color="warning" size="small" name="ellipse" slot="start" id="priority-icon-{{i}}"></ion-icon>
          <ion-icon *ngIf="item.itemPriority === 'baja'" color="success" size="small" name="ellipse" slot="start" id="priority-icon-{{i}}"></ion-icon>
          <ion-label id="item-name-label-{{i}}">{{ item.itemName }}</ion-label>
          <!-- Add delete button -->
          <ion-button color="danger" size="small" slot="end" (click)="deleteTask(item)">Eliminar</ion-button>
        </ion-item>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-label id="item-date-label-{{i}}">Plazo: {{ item.itemDate | date:'fullDate' }}</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
