.title-text {
    font-weight: 600;
    font-size: 2.4em; /* Ajustar el tamaño del título según sea necesario */
    text-align: left; /* Alineación a la izquierda */
    margin-left: 70px; /* Margen izquierdo para ajustar la posición */
  }
  
  .archive-content {
    padding-top: 20px; /* Ajustar el espacio superior del contenido según sea necesario */
  }
  