.custom-dropdown {
    position: relative;
    width: 80%; /* Adjust width as needed */
    max-width: 300px; /* Limit maximum width */
    text-align: center; /* Center text in dropdown */
}

.custom-dropdown select {
    width: 100%;
    padding: 8px; /* Adjust padding for a more compact appearance */
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    appearance: none;
    background: none; /* Remove background color */
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" fill="%23333333" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5H7z"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 14px;
    color: #333; /* Set text color for better contrast */
}

/* Hover and focus styles */
.custom-dropdown select:hover,
.custom-dropdown select:focus {
    border-color: #999;
}

.custom-dropdown ion-label {
    display: none; /* Hide label for ion-select */
}

.custom-dropdown::part(icon) {
    margin-right: 8px; /* Adjust icon spacing */
}
