<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Crear Tarea</ion-title>
      <ion-icon name="close" slot="end" size="large" class="ion-padding" (click)="dismiss()"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-item>
        <ion-textarea [(ngModel)]="task.itemName" placeholder="Escribe tu tarea" id="taskName"></ion-textarea>
      </ion-item>
  
      <ion-item>
        <ion-label>Prioridad</ion-label>
        <ion-select [(ngModel)]="task.itemPriority" id="taskPriority">
          <ion-select-option value="importante">Importante</ion-select-option>
          <ion-select-option value="normal">Normal</ion-select-option>
          <ion-select-option value="baja">Baja</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>Fecha Limite</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY" (ionChange)="handleDateChange($event)"></ion-datetime>
      </ion-item>
  
      <ion-item>
        <ion-label>Categoria</ion-label>
        <ion-select [(ngModel)]="task.itemCategory">
          <ion-select-option *ngFor="let category of categories" [value]="category">{{ category }}</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-button class="ion-margin" expand="block" (click)="saveTask()"> Agregar Tarea </ion-button>
    </ion-card>
  </ion-content>
  